/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700');

.body {
font-family: 'Dosis', sans-serif;
}

/* HERO STYLES START */

#hero {
  position: static;
  margin: 0;
  background-image: url('../img/lake.jpg');
  background-attachment: fixed;
  background-size: cover;
  padding: 300px 150px;
  height: 100%;
}

.hero-box {
  font-family: 'Dosis', sans-serif;
  color: #fff;
}

.hero-box h1 {
  text-shadow: 1px 1px 2px;
  font-size: 5.5em;
}

.hero-box p {
  font-size: 32px;
}
/* HERO STYLES END */

/* NAVBAR STYLES START */
.navbar-nav>li>a {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  color: #000;
}

/* NAVBAR STYLES END */

/* ABOUT ME STYLES START */
.border {
  padding-right: 200px;
}
.hr {
  display:block;
  border-color: #000;
}
.container {
  margin-bottom: 80px;
  font-family: 'Montserrat', sans-serif;
}
.social {
  padding-bottom: 20px;
}
/* Social Media Styles Start*/
.fab {
  font-size: 50px;
  padding: 10px;
}

/* SERVICES STYLE STARTS */
.services {
  font-family: 'Montserrat', sans-serif;
  background-color: #F4EFEE;
  height: 500px;
  padding-top: 30px;
}

.text-uppercase {
  padding-bottom: 100px;
}

.fa-code {
  font-size: 100px;
}
.fa-desktop {
  font-size: 100px;
}
/* SERVICES STYLES SECTION ENDS */

/* PORTFOLIO STYLES SECTION STARTS */
.contact {
  font-family: 'Montserrat', sans-serif;
  background-color: #F4EFEE;
  height: 800px;
  padding-top: 30px;
}

.message {
  text-align: center;
}
/* PORTFOLIO STYLES SECTION ENDS */

/* MAP STYLES SECTION BEGINS */
