/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Dosis');

.body {
font-family: 'Dosis', sans-serif;
}

/* JUMBO STYLES START */

.jumbotron {
  background-image: url(../img/woods.jpg);
  height: 600px;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
  filter: alpha(opacity=40);
}

.jumbotron>p {
  font-family: 'Dosis', sans-serif;
  color: #fff;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
